[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bpmnR"]
	path = bpmnR
	url = https://github.com/cran/bpmnR
[submodule "processpredictR"]
	path = processpredictR
	url = https://github.com/cran/processpredictR
[submodule "understandBPMN"]
	path = understandBPMN
	url = https://github.com/cran/understandBPMN
[submodule "xesreadR"]
	path = xesreadR
	url = https://github.com/gertjanssenswillen/xesreadr
