[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "processpredictR"]
	path = processpredictR
	url = https://github.com/cran/processpredictR
[submodule "xesreadR"]
	path = xesreadR
	url = https://github.com/cran/xesreadR
