[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "petrinetR"]
	path = petrinetR
	url = https://github.com/gertjanssenswillen/petrinetr
	shallow = true
	registered = true
[submodule "xesreadR"]
	path = xesreadR
	url = https://github.com/gertjanssenswillen/xesreadr
	shallow = true
	registered = true
